
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 14px Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #15181b;
	background: #15181b;
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block;
  height:auto;
  position: relative;
  width: 940px;
}


#mainpic
{
background-image:url(images/main_2.png);
background-repeat:no-repeat;
width:900px;
height:402px;
}





#menu
{
background-image:url(images/menu.png);
background-repeat:no-repeat;
width:940px;
height:69px;
float:left;
clear:both;
}

#content
{
width:880px;
height:auto;
background-color:#FFF;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#footer
{
width:inherit;
height:auto;
}

H2 {
  text-indent: 10%;
}

H1,H2
{
	text-align: center;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;
	display: inline;

}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BAD1F3;
	background: url(images/menuhov.jpg) no-repeat;
}

#content p
{

}


html, body {
text-align: center;
}
p {text-align: left;}
